body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header,footer{
  background: #61480F;
  color:white;
  text-align: center;
  padding: 35px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

nav ul li {
  margin: 5px;
}

nav ul li a {
  display: block;
  padding: 8px 12px;
  background: ;
  color: white;
  text-decoration: none;
  font-weight:600;
  border-radius: 30px;
}

nav ul li a:hover {
  background:#CEB477;
}

.content { 
  padding: 0px;
  text-align: center;
}

.content-frame {
  width: 100%;
  height: 480px;   
  border: none;
  text-align: left;
  display:block;
}

/* =========================
   Mobile (≤ 480px)
   ========================= */
@media (max-width: 480px) {
  body {
    font-size: 12px;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
    background-color:;
  }

  nav ul li {
    width: 100%;
    text-align:center;
    border-bottom:5px solid white;
  }

} 

/* =========================
   Tablet (768px – 1200px)
   ========================= */
@media (max-width: 1200px) {

  body {
    font-size: 14px;
  }

  nav ul {
    flex-direction: row; 
  }
}

/* =========================
   Desktop (≥ 1024px)
   ========================= */
@media (min-width: 1024px) {
  header{
    display:flex;
    align-items:center;
    justify-content:space-around;
  }

  body {
    font-size: 16px;
    max-width: 1600px;
    margin: auto;
  }

  .content {
    text-align: left;
  }
}
