body{
  font-size:120%;
  width:90%;
  margin:0; 
}

div{
  width:85%;
  margin:auto;
  padding:10px;
  border:3px solid black;
  background-color:#CCFFFF;
}

.table1,.table2 {
  border-collapse:collapse;
  border:3px solid black;
  width:90%; 
  background-color:#CCFFFF;
  margin:20px;
  
}

.table2 input,.table2 select{
  border:1px solid black;
  padding:23px;
  width:70%
  backgound-color:#CCFFFF;
}

.table2 textarea{
  border:1px solid black;
  padding:6px;
  width:55%;
  background-color:#CCFFFF;
}


.table1 input{
  border:1px solid black;
  background-color:#CCFFFF;
  padding:10px;
  width:50%; 
}
 
.table1 td,.table2 td{
  padding:0;
}

select,textarea{
  border:1px solid black;
  background-color:#CCFFFF;
}






